/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-image: url('./Images/5604744.png');
}

/* Navigation styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: rgba(7, 0, 0, 0.849);
    color: #ffffff;
}

.nav .logo {
    font-size: 50px;
    font-weight: bold;
    font-family: fantasy;
}

.nav .nav-links {
    list-style: none;
    display: flex;
}

.nav .nav-links li {
    margin: 0 20px; /* Adjusted from 120x to 20px */
}

.nav .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    transition: color 0.5s ease, background-color 0.5s ease;
    display: flex;
    align-items: center;
    border-radius: 50px;

}

.nav .nav-links a i {
    margin-right: 10px; /* Space between icon and text */
}

.nav .nav-links a:hover {
    color: #333;
    background-color: hsl(0, 100%, 79%);
    border-radius: 25px;
}

/* Parallax section */
.parallax {
    background-image: url('./Images/Uchiha.jpg');
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Content styles */
.content {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 20px;
}

/* Additional styling for headings and paragraphs */
h1 {
    font-size: 4em;
    margin-bottom: 50px;
}

p {
    font-size: 2.2em;
    max-width: 600px;
    margin-bottom: 550px;
}

/* Glitch Effect for h1 and p */
.glitch {
    position: relative;
    color: #f86e6e;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.glitch:before,
.glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #f8f7f7; /* Bright green for one layer */
    background: #000000;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    animation: glitch-anim 2.3s infinite linear;
}

.glitch:before {
    left: -2px;
    text-shadow: -1px 0 rgb(255, 255, 255), 1px 0 rgb(255, 255, 255);
    clip: rect(30px, 7777px, 100px, 20px);
    animation-delay: -0.5s;
}

.glitch:after {
    left: 1px;
    text-shadow: 1px 0 rgb(255, 255, 255), -1px 0 green;
    clip: rect(40px, 9999px, 70px, 0);
    animation-delay: 0s;
}

@keyframes glitch-anim {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-10px, -10px);
    }
    40% {
        transform: translate(10px, 10px);
    }
    60% {
        transform: translate(-10px, 10px);
    }
    80% {
        transform: translate(10px, -10px);
    }
    100% {
        transform: translate(0);
    }
}

/* Remove unnecessary margins and paddings */
body, html {
    margin: 0;
    padding: 0;
}
