# Ignore node_modules folder
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore any other unnecessary system files
.DS_Store

# Ignore backend/node_modules if it's inside a subdirectory
Backend/node_modules/

